/* Write once, use more than one */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-color: white;
  --black-color: black;
  --text-color: #333;
  --font-12: 12px;
}

html {
  font-size: 62.5%;
  line-height: 1.2rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  display: block;
  scroll-behavior: smooth;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grownUp {
  from {
    transform: scale(var(--grown-From));
    opacity: var(--score);
  }
  to {
    transform: scale(var(--grown-To));
  }
}

/* CSS main */
.main {
  position: relative;
}

.header {
  width: 100%;
  z-index: 3;
  display: block;
  margin-top: 0;
  position: fixed;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.logo-img {
  height: 12rem;
  color: #fff;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.items-home {
  font-weight: 500;
  opacity: 1;
}

.items {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase;
}

.items > a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.menu-right li:hover .menu-sub {
  display: flex;
  opacity: 0.7;
}

.items:hover > a {
  opacity: 1;
  cursor: pointer;
  color: #ffd154;
}

.items .items-items {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: inherit;
  font-family: inherit;
  opacity: 0.8;
}

.menu-sub {
  border-radius: 10px;
  background-color: #3d3d3d;
  height: 400px;
  position: absolute;
  top: 162px;
  width: 80%;
  left: 10%;
  padding: 10px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  text-align: start;
}

.menu-right .menu-sub {
  display: none;
  --From: 0.5;
  --To: 1;
  --score: 0.1;
  animation: grownUp linear 0.3s;
}

li:hover .menu-sub {
  display: flex;
}

.display {
  color: #ffd154 !important;
}

.menu-sub li {
  list-style-type: none;
}

/*  */
.menu-sub ul li {
  padding: 10px 0;
  list-style: none;
  color: #ffd154;
  font-size: 18px;
}

.menu-sub li p {
  margin-left: 6px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ffd154;
}
/* Title products */
.menu-sub .first-head-products {
  margin-left: 14px;
}

.menu-sub .second-head-products {
  margin-left: 6px;
}

.menu-sub .third-head-products {
  margin-left: 6px;
}

.menu-sub ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  text-align: center;
}

.menu-sub ul li:hover a {
  opacity: 0.2;
}

.container {
  background-color: black;
  width: 100%;
}

/* Slider */
.img-main {
  background-image: url(../img/patrolmanramseycounty1935-1635-7364-4013-1635169925.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  width: 98%;
  padding-top: 60%;
  position: relative;
  margin: 0 auto;
  background-color: black;
}

/* Button style */
.btn {
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--color);
  font-size: 16px;
  position: relative;
  isolation: isolate;
  margin: 0 5px;
}

.btn:before {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  background-color: var(--color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.btn:hover::before {
  width: 100%;
}

.items-products {
  background-color: #f3aa97;
  height: 300px;
}
