/* Write once, use more than one */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-color: white;
  --black-color: black;
  --text-color: #333;
  --font-12: 12px;
  --mt: margin-top: 12px;
}

html {
  font-size: 62.5%;
  line-height: 1.2rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  display: block;
  scroll-behavior: smooth;
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grownUp {
  from {
    transform: scale(var(--grown-From));
    opacity: var(--score);
  }
  to {
    transform: scale(var(--grown-To));
  }
}

/* CSS main */
.main {
  position: relative;
}

.header {
  width: 100%;
  z-index: 3;
  margin-top: 0;
  position: fixed;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.logo-img {
  height: 12rem;
  color: #fff;
}

.navbar {
  background-color: rgb(0, 0, 0);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.items-home {
  font-weight: 500;
  opacity: 1;
}

.items {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase;
}

.items > a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.menu-right li:hover .menu-sub {
  display: flex;
  opacity: 0.7;
}

.items:hover > a {
  opacity: 1;
  cursor: pointer;
  color: #ffd154;
}

.items .items-items {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: inherit;
  font-family: inherit;
  opacity: 0.8;
}

.menu-sub {
  border-radius: 10px;
  background-color: #3d3d3d;
  height: 400px;
  position: absolute;
  top: 162px;
  width: 80%;
  left: 10%;
  padding: 10px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  text-align: start;
}

/* animation subnav */
.menu-right .menu-sub {
  display: none;
  --From: 0.5;
  --To: 1;
  --score: 0.1;
  animation: grownUp linear 0.3s;
}

li:hover .menu-sub {
  display: flex;
}

.display {
  color: #ffd154 !important;
}

.menu-sub li {
  list-style-type: none;
}

.menu-sub li p {
  margin-left: 6px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ffd154;
  cursor: pointer;
}

.menu-sub ul li {
  padding: 10px 0;
  list-style: none;
  font-size: 18px;
}


.menu-sub li p:hover{
  opacity: 0.2;

}
/* Title products */
.menu-sub .first-head-products {
  margin-left: 16px;
}

.menu-sub .second-head-products {
  margin-left: 6px;
}

.menu-sub .third-head-products {
  margin-left: 6px;
}

.menu-sub ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  text-align: center;
}

.menu-sub ul li:hover a {
  opacity: 0.2;
}

.container {
  background-color: black;
  width: 100%;
}

/* Slider */
.img-main {
  background-image: url(../img/patrolmanramseycounty1935-1635-7364-4013-1635169925.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  width: 98%;
  padding-bottom: 60%;
  position: relative;
  margin: 0 auto;
  background-color: black;
}

/* Button style */ 
/* Style 1 */
.btn1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--color);
  font-size: 16px;
  position: relative;
  isolation: isolate;
  margin: 0 5px;
}

.btn1:before {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  background-color: var(--color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.btn1:hover::before {
  width: 100%;
}

/* Style 2 */

.btn2 {
   --color: #6a5af9;
   font-family: "Poppins", sans-serif;
   color: white;
   padding: 15px 30px;
   border-radius: 4px;
   background-color: var(--color);
   cursor: pointer;
   font-weight: 500;
   outline: none;
   border: none;
   font-size: 16px;
   position: relative;
   isolation: isolate;
   overflow: hidden;
   backface-visibility: hidden;
}

.btn2 span {
   display: inline-block;
   width: 100%;
   height: 100%;
   transition: all 0.3s linear;
   backface-visibility: hidden;
}

.btn2:before {
   content: "DETAIL";
   height: 100%;
   width: 100%;
   position: absolute;
   left: 0;
   top: 100%;
   transition: all 0.25s ease-in;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn2:hover:before {
   top: 0;
}

.btn2:hover span {
   transform: translateY(-300%);
}

/* Products */
.products {
  margin-top: 100px;
}

.products-review {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-bottom: 50px;
}

.products-description {
  margin-top: var(--font-12);
}

.item-products {
  color: var(--black-color);
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
}

.product {
  opacity: 1;
}

.title-product{
  margin-top: 24px;
  color: white;
  font-size: 32px;
}

.infor {
  background-color: #fff;
  padding: 20px 0;
}

.item-background {
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
}

.item-background:hover {
  opacity: 0.8;
}

.infor-products {
  margin-top: 24px;
}

.item-name {
  opacity: 1;
  cursor: pointer;

  margin-top:10px;
}

.item-category {
  text-transform: uppercase;
  font-size: 16px;
  margin-top:10px;

}

.item-price {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top:10px;

}

.item-price-old {
  text-decoration: line-through;
}

.item-price-current {
  margin-right: var(--font-12);
  color: red;
}

.buy-btn {
  background-color: #333;
  margin-top:10px;
  border-radius: 2%;

}

.buy-btn:hover {
  --color: #3d3d3d;
  color: white;
}
